.box2
  .kamoku
    %ul.kamokuA
      %li.ka 関係法規
      %li.ka 
        -# = link_to "衛生管理", tweets_eisei_path
      %li.ka 美容保健
    %ul.kamokuB
      %li.ka 香粧品
      %li.ka 美容理論
      %li.ka 文化論   


.footer
  %ul.moveA
    %li.fo プリント
    %li.fo 動画
    %li.fo お仕事依頼
  %ul.moveB
    %li.fo Instagram
    %li.fo Twitter
    %li.fo youtube
    %li.fo 
      -# = link_to "⭐︎", tweets_new_path

      

